body{
    background: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica, Arial, Sans-serif;
}

body.index{
  margin-left: 25%
  }
body.page1{
  margin-left:20%;
}
body.page2{
  margin-left:20%;
}
body.page3{
  margin-left:20%;
}

h1.main-title{
    width: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 15px 30px;
    background-color: #eb1919;
    margin-left: 17%;
    

}

#opActTitle{
  width: fit-content;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 15px 30px;
  background-color: #eb1919;
  margin: 10px auto 20px 180px;
  

}

#noOpActTitle{
  width: fit-content;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 15px 30px;
  background-color: #eb1919;
  margin: 10px auto 20px 120px;
  

}
#OpTitle{
  width: fit-content;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 15px 30px;
  background-color: #eb1919;
  margin: 10px auto 20px -50px;
  

}


form#login {
    border: 3px solid #f1f1f1;
    background-color: lightgray;
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 0 auto 20px 280px;
    
  }

h3.subtitle{
margin-left: 280px;

  }

#login{
  margin: 10px 0 0 65px;
    
    
}

.activity, 
.operationalButtons, 
.nonOperationalButtons {
  display: grid; /* Enable grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
  grid-gap: 20px; /* Space between grid items */
  justify-content: center; /* Center the grid items horizontally */
  padding: 20px; /* Add padding around the grid container */
  margin-right: 20%;
}

.activity button, 
.operationalButtons button, 
.nonOperationalButtons button {
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}
#back-button {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 1em 2em; 
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  background-color: #555;
  color: white;
  transition: background-color 0.3s ease;
}
.buttons button#back-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.activity button, 
.operationalButtons button, 
.nonOperationalButtons button {
  background-color: #555;
}

.activity button:hover, 
.operationalButtons button:hover, 
.nonOperationalButtons button:hover {
  background-color: #333; /* Darker shade on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}